body{
 text-align:center;
 background-color:white; 
 font-family:sans-serif; 
 width:100%; 
}

html{
 scroll-behavior:smooth;
}

.menu1{
 list-style-type:none;
 overflow:hidden;
 background-color:#f7a900;
 border-radius:25px; 
 position:fixed;
 top: 0;
 width:100%;
 padding:20px;
 opacity:90%;
 font-family:sans-serif;
}

.sub{
 float:left;
 padding:2px 30px;
 font-size:16px;
}

a:link,a:visited{
 color:white;
 background-color:#f7a900;
 font-weight:bold;
 text-decoration:none;
 text-transform:uppercase;
 padding:10px 15px;
 border-radius:15px; 
}

a:hover,a:active{
 background-color:#d3d62a;
 color:white;
}

*{
 margin:0px;
 padding:0px;
}

#header{
 width:100%;
 height:742px;
 border:0px solid blue;
 margin-left:auto;
 margin-right:auto; 
}

#footer{
 width:100%;
 height:50px;
 border:0px solid blue;
 margin-left:auto;
 margin-right:auto; 
 border-radius:5px;
 background-color:#C46001; 
}

.ft{
 color:white;
 font-family:sans-serif;
 font-size:20px; 
 padding-top:10px;
 letter-spacing:4px;
}

#content{
 width:100%;
 height:/*2050px*/100%;
 border:0px solid white;
 margin-left:0px;
 margin-right:0px; 
 background-color:white; 
}

.img-hover-zoom{
 height:auto;
 overflow:hidden;
 display:inline-block;
}
.img-hover-zoom img{
 transition:transform .2s, filter 2s ease-in-out;
 transform-origin:50% 60%;
 filter:brightness(120%);
}
.img-hover-zoom:hover img{
 transform:scale(1.5);
 filter:brightness(150%);

}
.image{
 float:left;
}
.gold{
 margin-top:12px;
}
h1{
 letter-spacing:2px;
 font-size:24px;
}
img{
 border-radius:10px;
}
/* CSS_3 Simple Resopnsive Code */
* {
  box-sizing: border-box;
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
